body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: center;
    gap: 20px;
}

.image {
  width: 400px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}